{{!-- // todo: remove labels if not needed --}}
<label>From</label>
<input id="from_place2" placeholder="From:" />

<label>To</label>
<input id="to_place2" placeholder="To:" />

<button id="submit-from-and-to">Submit</button>

<div id="map"></div>
<div id="msg"></div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="../../js/mapFromAndTo.js"></script>
{{!-- <script async defer src="{{MAPS_URL}}"></script> --}}
