<div class="pagetransitions">
    <div class="pagetransitions_transition">
        <div class="pagetransitions_transition__part-1 none"></div>
        <div class="pagetransitions_transition__part-2 none"></div>
        <div class="pagetransitions_transition__part-3 none"></div>
        <div class="pagetransitions_transition__part-4 none"></div>
    </div>

    <section class="active_slide" data-transition="none"></section>
    <section data-transition="split_diagonal_alt"></section>
</div>
