<div id="postloader">
    <h1 id="iAmA">I am a...</h1>

    <div class="cards">
        <div class="card" id="customer-card" tabindex="0">
            <div class="container">
                <div class="avatar">
                    <img class="desktop-tablet" src="../../img/circle-1.svg" width="150px">
                    <img class="mobile" src="../../img/circle-1.svg" width="100px">
                </div>
                <div class="text">
                    <p class="type">customer</p>
                    <p class="description">get services provided at your door step</p>
                </div>
            </div>
        </div>

        <div class="card" id="helper-card" tabindex="0">
            <div class="container">
                <div class="text">
                    <p class="type">helper</p>
                    <p class="description">provide services to get paid</p>
                </div>
                <div class="avatar">
                    <img class="desktop-tablet" src="../../img/circle-2.svg" width="150px">
                    <img class="mobile" src="../../img/circle-2.svg" width="100px">
                </div>
            </div>
        </div>
    </div>
</div>