<!DOCTYPE html>
<head></head>
<body>
    Select any request
    <button onclick="executeMe()">Click me</button>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../js/test-file-on-selecting-a-request-type.js"></script>
</body>
