<!DOCTYPE html>
<head></head>
<body onload="pricingPageLoaded()">
    <div id="price"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../../js/pricing.js"></script>
</body>
